.choose-yoga {
   background-color: #f7f7f7;
}
.choose-yoga-container {
   flex-direction: column;
   gap: 20px;
}
.choose-yoga .details {
   margin-top: 30px;
   display: flex;
   flex-direction: column;
}
.yoga-info {
   /* flex-shrink: 0; */
   /* border: 1px solid black; */
}
.yoga-info .title {
   text-transform: capitalize;
}
.yoga-info .text {
   margin-top: var(--mg-1);
}
.choose-yoga .details-wrapper div {
   display: flex;
   justify-content: space-between;
   position: relative;
}

.choose-yoga .details {
   text-transform: capitalize;
   font-weight: 400;
}

.details-wrapper button {
   border: none;
   outline: none;
   background-color: transparent;
   font-size: 20px;
}
.details-wrapper div {
   background-color: var(--primary-color);
   padding: 10px 15px;
   border-radius: 20px;

   display: flex;
   align-items: center;
}
.details-wrapper div:hover {
   cursor: pointer;
}

.details-wrapper button,
.details-wrapper .title {
   color: white;
}

.details-wrapper .title {
   font-size: 15px;
}
.details-wrapper .text {
   margin: 10px 0px 5px 10px;
}
.details-wrapper button {
   transition: all 0.35s ease-in-out;

   display: flex;
   align-items: center;
}
.details-wrapper button:hover {
   cursor: pointer;
}
.choose-yoga-img-container {
   width: 100%;
}
.choose-yoga-img-container img {
   width: 100%;
   height: auto;
}
/* ==== ipad media query ==== */

@media screen and (min-width: 800px) {
   .choose-yoga-container {
      flex-direction: row;
   }
   .yoga-info {
      width: 50%;
   }
   .choose-yoga-img-container {
      width: 50%;
   }
}
