.pricing-container {
   flex-direction: column;
}
.pricing .title {
   text-transform: capitalize;
}
.plans {
   width: 300px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   padding: var(--mg-5);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 50px;
   margin-left: auto;
   margin-right: auto;
   border-radius: 20px;
}
.pricing .text {
   margin-top: 10px;
}

.prices {
   position: relative;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}

.prices p {
   font-weight: 600;
   color: var(--sub-title-color);
}
.prices .price .cost {
   font-size: 60px;
   color: var(--primary-color);
   font-weight: 600;
}
.price .dollar-sign {
   font-size: 20px;
   position: absolute;
   top: 1rem;
   left: -0.7rem;
   color: rgb(82, 82, 82);
}
.plans:nth-child(1) .dollar-sign {
   left: -0.6rem;
}
.prices .sub-title {
   text-transform: uppercase;
   font-size: 24px;
}
.divider {
   background: rgba(0, 0, 0, 0.329);
   width: 90%;
   height: 1px;
   margin: 30px;
}
.features li {
   list-style: none;
   line-height: 2.5rem;
   text-align: center;
   text-transform: capitalize;
}
.plans button {
   margin: 2rem 0;
   padding: 10px 40px;
   font-size: 18px;
   border: 2px solid var(--primary-color);
   outline: none;
   background: transparent;
   border-radius: 25px;
   text-transform: capitalize;
   transition: all 0.35s ease-in-out;
   cursor: pointer;
}

.plans button:hover {
   background: var(--primary-color);
   color: white;
}
.plans:nth-child(2) .sub-title,
.plans:nth-child(2) .cost,
.plans:nth-child(2) .dollar-sign,
.plans:nth-child(2) p {
   color: white;
}
.plans:nth-child(2) .divider {
   background: rgba(255, 255, 255, 0.698);
}
.plans:nth-child(2) {
   background: var(--primary-color);
   color: white;
}
.plans:nth-child(2) button {
   border: 2px solid white;
   color: white;
}
.plans:nth-child(2) button:hover {
   color: var(--primary-color);
   background: white;
}
