.services {
   flex-direction: column;
   padding-top: var(--mg-3);
}
.service {
   display: flex;
   gap: 20px;
}

.icon-wrapper {
   background: var(--primary-color);
   width: 50px;
   height: 50px;
   padding: 0px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   font-size: 30px;
   flex-shrink: 0;
}

.service .sub-title {
   color: var(--title-color);
   font-weight: 600;
   border-bottom: 4px solid var(--primary-color);
   width: fit-content;
   padding-bottom: 10px;
   text-transform: capitalize;
}
.service p {
   margin: 20px 0 30px 0;
   color: var(--text-color);
   line-height: 2rem;
   font-size: var(--fonts-small);
}

.services img {
   width: 100%;
   height: auto;
}
.services-img-container {
   width: 100%;
}
/* ===== ipad/kindle media query===== */

@media screen and (min-width: 800px) {
   .services {
      flex-direction: row;
      justify-content: space-between;
   }

   .list-services {
      width: 50%;
   }
   .services-img-container {
      width: 50%;
   }
}
