.trainers-slide-container {
   margin-top: var(--mg-4);
}
.trainers-slide {
   position: relative;
   overflow: hidden;
   max-width: 930px;
   height: 400px;
   max-height: 600px;

   margin: auto;
}

.trainers-slide .slick-prev,
.trainers-slide .slick-next {
   position: absolute;
   z-index: 1;
   top: 23%;
}

.trainers-slide .slick-prev {
   left: 7px;
}
.trainers-slide .slick-next {
   right: 8px;
}

.trainers-slide .slick-prev:before,
.trainers-slide .slick-next:before {
   color: var(--primary-color);
   font-size: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   font-size: 40px;
}

.trainers-slide-wrapper {
   align-items: center;
   width: 100%;
   height: 100%;
   margin: auto;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   position: inherit;
}
.img-container {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 200px;
   width: 200px;
   margin: auto;
   border-radius: 50%;
   background-color: rgba(0, 0, 0, 0.034);
   overflow: hidden;
}
.img-container img {
   height: 180px;
}
.trainer-info {
   margin-top: 20px;
}
.trainer-info .title {
   text-transform: capitalize;
}
.trainer-info .text {
   text-transform: capitalize;
}

.overlay {
   background-color: #fb5b21ab;
   height: 200px;
   width: 200px;
   position: absolute;
   border-radius: 50%;

   transition: all 0.3s ease-in-out;
   top: 0;
   left: -300px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 5px;
}
.social-media {
   position: absolute;
   display: flex;
   gap: 10px;
   z-index: 1000;
}
.social-media a {
   color: white;
   font-size: 20px;
   font-weight: 600;
   margin: none;
   text-decoration: none;
   opacity: 1;
   border: 2px solid white;
   display: flex;
   align-items: center;
   border-radius: 50%;
   font-weight: bold;
   padding: 4px;
   transition: all 0.35s ease 0s;
}

.img-container:hover .overlay {
   top: 0;
   left: 0;
}
.social-media a:hover {
   color: black;
   background-color: white;
}
