footer {
   color: var(--title-color);
   display: flex;
   flex-direction: column;
   background-color: #f7f7f7;
   /* margin-top: 500px; */
}
.footer-container {
   /* position: absolute;
   bottom: 0; */
}
.footer-content {
   gap: var(--mg-6);
   grid-template-rows: 1fr 1fr;
}

.footer-content-right {
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.footer-content-right ul li a {
   text-decoration: none;
   color: var(--text--color);
   text-transform: capitalize;
}

.footer-content-right ul li {
   list-style: none;
   line-height: 30px;
}
.footer-content h1 {
   text-transform: capitalize;
}
.footer-bottom p {
   font-size: 12px;
   margin-bottom: var(--mg-1);
}

@media screen and (min-width: 800px) {
   .footer-content {
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr;
   }
}
