.react__slick__slider__parent {
   position: relative;
   overflow: hidden;
}

.react__slick__slider__parent .slick-prev,
.react__slick__slider__parent .slick-next {
   position: absolute;
   top: 50%;
}
.react__slick__slider__parent .slick-prev {
   color: black;
   z-index: 1;
   left: 50px;
}
.react__slick__slider__parent .slick-next {
   color: rgb(194, 16, 16);
   right: 50px;
   z-index: 1;
   display: none;
}

.react__slick__slider__parent .slick-prev:before,
.slick-next:before {
   color: black;
}
.slide img {
   display: block;
   width: 100%;
   height: auto;
   padding: 0;
   margin: 0;
}
.dotsClass {
}
