.react-slick-parent {
   position: relative;
   overflow: hidden;
   z-index: 10;

   height: calc(100vh - 3.5rem);
}

.react-slick-parent .slick-prev,
.react-slick-parent .slick-next {
   position: absolute;
   z-index: 1;
   top: 50%;
}
.react-slick-parent .slick-prev {
   left: 20px;
}
.react-slick-parent .slick-next {
   right: 20px;
}

.react-slick-parent .slick-prev:before,
.react-slick-parent .slick-next:before {
   color: var(--primary-color);
   font-size: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   visibility: hidden;
}

.slide-wrapper {
   position: relative;
   /* height: 550px; */
   overflow: hidden;
   height: 100vh;
}
.slide-1 {
   background-image: url("/src//images/yoga1.jpg");
}
.slide-2 {
   background-image: url("/src//images/yoga2.jpg");
}
.slide-3 {
   background-image: url("/src//images/yoga3.jpg");
}

.slide-1,
.slide-2,
.slide-3 {
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.dotsClass {
   display: none;
   position: absolute;
   left: 50%;
   bottom: -10px;
   transform: rotate(-90deg);
   list-style: none;
}

.dotsClass button {
   border-radius: 50%;
   height: 10px;
   width: 10px;
   outline: none;
   border: none;
   font-size: 0;
   background-color: white;
}
.dotsClass .slick-active button {
   background-color: var(--primary-color);
}
.dotsClass button:hover {
   cursor: pointer;
}

/* === slide content ==== */

.slide-1 h1,
.slide-2 h1,
.slide-3 h1 {
   text-transform: uppercase;
   font-size: 25px;
   color: white;
}

.slide-wrapper p {
   color: white;
}

.slide-wrapper .slides-content a {
   text-decoration: none;
   color: white;
   padding: 14px var(--mg-4);
   border: 2px solid var(--primary-color);
   border-radius: 30px;

   transition: all 0.3s ease-in-out;
}

.slide-1 h1 span,
.slide-2 h1 span,
.slide-3 h1 span {
   color: var(--primary-color);
}
.slides-content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   z-index: 10000;
}
.slides-content .join-now {
   margin-top: 40px;
}

.slides-overlay {
   position: absolute;
   height: 100%;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.493);
}
.slides-content a:hover {
   background-color: var(--primary-color);
}

@media screen and (min-width: 800px) {
   .react-slick-parent {
      position: relative;
      overflow: hidden;

      height: calc(100vh - 3.5rem);

      z-index: 10;
   }
   .slide-wrapper {
      height: calc(100vh - 3.5rem);
   }
   .slide-1,
   .slide-2,
   .slide-3 {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
      overflow: hidden;
   }
   .react-slick-parent .slick-prev:before,
   .react-slick-parent .slick-next:before {
      visibility: visible;
   }
   .slides-content h1 {
      font-size: 35px;
   }
}

@media screen and (min-width: 1200px) {
   .slides-content h1 {
      font-size: 62px;
   }
}
