* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
   /* ===== font colors ===== */
   --primary-color: #fb5b21;
   --secondary-color: #fff;
   --text-color: #666;
   --title-color: rgba(0, 0, 0, 0.808);
   --sub-title-color: rgb(0, 0, 0);

   /* ====fonts sizes and typography====== */
   --biggest-font-size: 4rem;
   --smaller-font-size: 0.813rem;
   --title-font: 24px;
   --sub-title-font: 18px;
   --text-font: 16px;

   --font-family: "Poppins", sans-serif;
   --font-weight-normal: 400;
   --font-weight-medium: 500;
   --font-weight-semi-bold: 600;

   /* ===== margins ===== */
   --mg-1: 0.5rem;
   --mg-2: 1rem;
   --mg-3: 1.5rem;
   --mg-4: 2rem;
   --mg-5: 2.5rem;
   --mg-6: 3rem;
   --mg-7: 3.5rem;
}

body {
   font-family: var(--font-family);
   font-size: var(--text-font);
}

.title {
   font-size: var(--title-font);
   color: var(--title-color);
   font-weight: var(--font-weight-semi-bold);
}

.sub-title {
   font-size: 18px;
   color: var(--sub-title-color);
   font-weight: var(--font-weight-medium);
}
.text {
   font-size: 16px;
   color: var(--text-color);
   font-weight: var(--font-weight-normal);
}

.grid {
   display: grid;
}
.flex {
   display: flex;
}
.bd-container {
   max-width: 960px;
   width: calc(100% - 2rem);
   padding-left: var(--mg-1);
   padding-right: var(--mg-1);
   margin: auto;
}
