header {
   height: 3.5rem;
   position: relative;
}
.header-wrapper {
   background-color: #fff;
   justify-content: space-between;
   align-items: center;
   height: 3.5rem;
}
.burger-container {
   width: 40px;
   height: 40px;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   display: none;
}
.logo,
.burger {
   z-index: 1000;
}
.burger {
   width: 30px;
   height: 3px;
   background: black;
   position: absolute;
   transition: all 0.35s ease-in-out;
}
.burger::before {
   content: "";
   position: absolute;
   width: 30px;
   height: 3px;
   background: black;
   transform: translateY(-8px);
   transition: all 0.35s ease-in-out;
}
.burger::after {
   content: "";
   position: absolute;
   width: 30px;
   height: 3px;
   background: black;
   transform: translateY(8px);
   transition: all 0.35s ease-in-out;
}
.burger.open {
   background: transparent;
}

.burger.open::before {
   transform: rotate(-45deg);
}
.burger.open::after {
   transform: rotate(45deg);
}
.menu {
   display: flex;
   list-style: none;
   display: flex;
   gap: 30px;
   background-color: var(--secondary-color);
   z-index: 100;
}

/* ==== menu media query ===== */
@media screen and (max-width: 700px) {
   .burger-container {
      display: flex;
   }
   .menu {
      position: absolute;
      height: calc(100vh - 3.5rem);
      width: 100%;
      top: 3.5rem;
      left: 1500px;
      transition: all 0.35s ease-in-out;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   .menu.open {
      left: 0;
   }
}
.menu a {
   text-decoration: none;
   color: var(--title-color);
   font-weight: var(--font-weight-semi-bold);
   text-transform: uppercase;
}

/* ==== media queries @800px==== */

@media screen and (min-width: 701px) {
   .menu {
      position: relative;
      flex-direction: row;
   }
}
